[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.1"
uvicorn = "==0.15.0"
alembic = "==1.7.3"
sqlalchemy = "==1.4.23"
databases = "==0.5.2"
asyncpg = "==0.24.0"
psycopg2 = "==2.9.1"
pydantic = {version = "==1.8.2", extras = ["email"]}
orjson = "==3.6.3"
aioredis = "==2.0.0"
psycopg2-binary = "*"

[dev-packages]
mypy = "*"
pylint = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
